body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}



#decoratie2 {
    padding: 10px 0; /* Geeft ruimte boven en onder de tekst */
    border-top: 6px solid #5720ff; /* Paarse lijn aan de bovenkant */
    background-color: #e60012; /* Rode achtergrondkleur */
    text-align: center; /* Centraal uitlijnen van de tekst */
} /* Sluitende accolade toegevoegd */

header {
    background-color: #e60012; /* Rood */
    color: #ffffff;
    padding: 10px 0;
    text-align: center;

}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

#decoratie {
    padding: 10px 0; /* Geeft ruimte boven en onder de tekst */
    border-top: 6px solid #1100ff; /* Blauwe lijn aan de bovenkant */
    text-align: center; /* Centraal uitlijnen van de tekst */
}

main {
    padding: 120px;
}

h2 {
    color: #3e2dff;

}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
}

img {
    width: 700px; 
    height: 370px; 
}

.logo {
    width: 300px; /* Pas de breedte aan zoals gewenst */
    height: auto; /* Zorg ervoor dat de hoogte automatisch wordt geschaald om de verhoudingen te behouden */
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #e60012; /* Rood */
    color: #fff;
}

.docenten {
    width: 100px;
    height: auto;
    border-radius: 50%;
    border: 2px solid #e60012; /* Rood */
}

footer {
    background-color: #e60012; /* Rood */
    color: #ffffff;
    text-align: center;
    padding: 1px;
    position: fixed;
    width: 100%;
    bottom: 0;
    outline: auto;

}

/* Voor schermen kleiner dan 600px (bijvoorbeeld smartphones) */
@media (max-width: 600px) {
    header, footer {
        padding: 5px 0;
    }

    img {
        width: 100%;
        height: auto;
    }

    .logo {
        width: 150px;
    }

    main {
        padding: 20px;
    }

    nav ul li {
        display: block;
        margin: 5px 0;
    }

    table {
        font-size: 14px; /* Maak de tekst in tabellen iets kleiner */
    }
}
