/* styles.css */

body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

header {
    background-color: #e60012; /* Rood */
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

h2 {
    color: #e60012; /* Rood */
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
}

img {
    width: 700px; 
    height: 370px; 
}


.logo {
    width: 300px; /* Pas de breedte aan zoals gewenst */
    height: auto; /* Zorg ervoor dat de hoogte automatisch wordt geschaald om de verhoudingen te behouden */
}



th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #e60012; /* Rood */
    color: #fff;
}

.docenten {
    width: 100px;
    height: auto;
    border-radius: 50%;
    border: 2px solid #e60012; /* Rood */
}

footer {
    background-color: #e60012; /* Rood */
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
